<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.ofg//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.BoardMapper">

	<sql id="criteria">
		<trim prefix="(" suffix=") AND ">
			<foreach item='type' collection="typeArr" separator="OR">
				<!-- <trim prefix="(" suffix=") AND " prefixOverrides="OR"> <foreach 
					item='type' collection="typeArr"> <trim prefix="OR"> -->
				<choose>
					<when test="type == 'T'.toString()">
						title like '%'||#{keyword}||'%'
					</when>
					<when test="type == 'C'.toString()">
						content like '%'||#{keyword}||'%'
					</when>
					<when test="type == 'W'.toString()">
						userid like '%'||#{keyword}||'%'
					</when>
				</choose>
				<!-- </trim> -->
			</foreach>
		</trim>
	</sql>
	<select id="getList" resultType="org.zerock.domain.BoardVO">
		<![CDATA[select * from tbl_board where bno > 0 order by bno desc]]>
	</select>

	<insert id="insert">
		insert into tbl_board(bno, title, content, userid)
		values (seq_board.nextval, #{title}, #{content}, #{userid})
	</insert>

	<insert id="insertSelectKey">
		insert into tbl_board(title, content, userid) values (
		#{title}, #{content}, #{userid})
		<selectKey keyProperty="bno" order="AFTER"
			resultType="long">
			 SELECT LAST_INSERT_ID() 
		</selectKey>
	</insert>

	<select id="read" resultType="org.zerock.domain.BoardVO">
		select * from tbl_board where bno =
		#{bno}
	</select>

	<delete id="delete">
		delete from tbl_board where bno = #{bno}
	</delete>

	<update id="update">
		update tbl_board set title=#{title},
		content=#{content}, userid=#{userid}, updateDate=sysdate where
		bno=#{bno}
	</update>

<!--  <select id="getListWithPaging"
		resultType="org.zerock.domain.BoardVO">
		<![CDATA[
			select bno, title, content, userid, regdate, updatedate, replycnt, hit	
			from(
				select /*+index_desc(tbl_board pk_board)*/ 
					rownum rn, bno, title, content , userid, regdate, updatedate, replycnt, hit
				from tbl_board where 
		]]>
		<include refid="criteria"></include>
		<![CDATA[
				rownum <= #{pageNum} * #{amount}
			)
			where rn > (#{pageNum}-1) * #{amount}
		]]>
	</select> -->
<select id="getListWithPaging" resultType="org.zerock.domain.BoardVO">
  <![CDATA[
    SELECT bno, title, content, userid, regdate, updatedate, replycnt, hit
    FROM tbl_board
    WHERE bno IN (
      SELECT bno
      FROM (
        SELECT bno
        FROM tbl_board
        ]]>
        <include refid="criteria"></include>
        <![CDATA[
        ORDER BY bno
       LIMIT #{startRow}, #{amount}
      ) AS temp
    )
  ]]>
</select>

	<select id="getTotalCount" resultType="int">
		select count(*) from tbl_board where 
		<include refid="criteria"></include>		
		bno>0
	</select>
	
	<select id="searchTest" resultType="org.zerock.domain.BoardVO"> 
		<![CDATA[select * from tbl_board where]]>  
		<trim prefix="where (" suffix=")" prefixOverrides="OR">
			<foreach item="val" index="key" collection="map">
				<trim prefix = "OR">
					<if test="key == C.toString()">
						content = #{val}
					</if>
					<if test="key == T.toString()">
						title = #{val}
					</if>
					<if test="key == W.toString()">
						userid = #{val}
					</if>
				</trim>
			</foreach>
		</trim>	
	</select>
	
	<update id="updateReplyCnt">
		update tbl_board set replyCnt = replyCnt + #{amount} where bno = #{bno} 
	</update>
	
	<update id="updateHit">
		update tbl_board set hit = hit + #{hit} where bno = #{bno} 
	</update>
	
</mapper>