<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.ofg//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.CourseMapper">

	<select id="getList" resultType="org.zerock.domain.CourseVO">
		select * from course
	</select>
	
	<select id="read" resultType="org.zerock.domain.CourseVO">
		select * from course where ccode = #{ccode}
	</select> 
	
	<update id="update">
		update course set cteacher=#{cteacher}, ccontext=#{ccontext},
		cname=#{cname}, camount=#{camount} where ccode=#{ccode}
	</update>
	
	<!-- sql 문 뭐지??? -->
	<!-- 검색 (보류) -->
<!-- 	<sql id="criteria">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<foreach item='type' collection="typeArr" separator="OR">
				<trim prefix="(" suffix=") AND " prefixOverrides="OR"> <foreach 
					item='type' collection="typeArr"> <trim prefix="OR">
				<choose>
					<when test="type == 'T'.toString()">
						  title like CONCAT('%', #{keyword}, '%')
					</when>
					<when test="type == 'C'.toString()">
						  content like CONCAT('%', #{keyword}, '%')
					</when>
					<when test="type == 'W'.toString()">
						  userid like CONCAT('%', #{keyword}, '%')
					</when>
				</choose> -->
				<!-- </trim> -->
<!-- 			</foreach>
		</trim>
		</sql> -->
		<!--  <trim prefix="(" suffix=") AND ">
			<foreach item='type' collection="typeArr" separator="OR">
				<choose>
					<when test="type == 'T'.toString()">
						title like '%'||#{keyword}||'%'
					</when>
					<when test="type == 'C'.toString()">
						content like '%'||#{keyword}||'%'
					</when>
					<when test="type == 'W'.toString()">
						userid like '%'||#{keyword}||'%'
					</when>
				</choose>
			</foreach>
		</trim>-->
	

<!-- 	<insert id="insert">
		insert into tbl_board(bno, title, content, userid)
		values (seq_board.nextval, #{title}, #{content}, #{userid})
	</insert> -->

<!-- 	<insert id="insertSelectKey">
		insert into tbl_board(title, content, userid) values (
		#{title}, #{content}, #{userid})
		<selectKey keyProperty="bno" order="AFTER"
			resultType="long">
			 SELECT LAST_INSERT_ID() 
		</selectKey>
	</insert>-->	
	

<!-- 	<delete id="delete">
		delete from tbl_board where bno = #{bno}
	</delete> -->


<!--  <select id="getListWithPaging"
		resultType="org.zerock.domain.BoardVO">
		<![CDATA[
			select bno, title, content, userid, regdate, updatedate, replycnt, hit	
			from(
				select /*+index_desc(tbl_board pk_board)*/ 
					rownum rn, bno, title, content , userid, regdate, updatedate, replycnt, hit
				from tbl_board where 
		]]>
		<include refid="criteria"></include>
		<![CDATA[
				rownum <= #{pageNum} * #{amount}
			)
			where rn > (#{pageNum}-1) * #{amount}
		]]>
	</select> -->
<!-- <select id="getListWithPaging" resultType="org.zerock.domain.BoardVO">
  <![CDATA[
    SELECT bno, title, content, userid, regdate, updatedate, replycnt, hit
    FROM tbl_board
    WHERE bno IN (
      SELECT bno
      FROM (
        SELECT bno
        FROM tbl_board
        ]]>
        <include refid="criteria"></include>
        <![CDATA[
        ORDER BY bno desc
       LIMIT #{startRow}, #{amount}
      ) AS temp
    )ORDER BY bno desc
   ]]>
</select>
 -->
<!-- 	<select id="getTotalCount" resultType="int">
		select count(*) from tbl_board  
		<include refid="criteria"></include>		
		<![CDATA[order by bno>0]]>
	</select>
	
	<select id="searchTest" resultType="org.zerock.domain.BoardVO"> 
		<![CDATA[select * from tbl_board where]]>
		  
		 <trim prefix="where (" suffix=")" prefixOverrides="OR">
			<foreach item="val" index="key" collection="map">
				<trim prefix = "OR">
					<if test="key == C.toString()">
						content = #{val}
					</if>
					<if test="key == T.toString()">
						title = #{val}
					</if>
					<if test="key == W.toString()">
						userid = #{val}
					</if>
				</trim>
			</foreach>
		</trim>	
	</select>
	
	<update id="updateReplyCnt">
		update tbl_board set replyCnt = replyCnt + #{amount} where bno = #{bno} 
	</update>
	
	<update id="updateHit">
		update tbl_board set hit = hit + #{hit} where bno = #{bno} 
	</update> -->
	
</mapper>