<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.MemberMapper">
	
	<resultMap type="org.zerock.domain.MemberVO" id="memberMap">
		<id property="userid" column="userid"/>
		<result property="userid" column="userid"/>
		<result property="userpw" column="userpw"/>
		<result property="name" column="name"/>
		<result property="gender" column="gender"/>
		<result property="phone" column="phone"/>
		<result property="birth" column="birth"/>
		<result property="address" column="address"/>
		<result property="email" column="email"/>
		<result property="enabled" column="enabled"/>
		<result property="regDate" column="regdate"/>
		<result property="updateDate" column="updatedate"/>		
		<result property="auth" column="auth"/>
		<collection property="authList" resultMap="authMap"></collection>
	</resultMap>
	
	<resultMap type="org.zerock.domain.AuthVO" id="authMap">
		<result property="userid" column="userid"/>
		<result property="auth" column="auth"/>
	</resultMap>	
	
	<select id="read" resultMap="memberMap">
	select auth, userid, userpw, name, gender, phone, 
	birth, address, email, enabled,	regdate, updatedate  
	from member where userid=#{userid}
	</select>
	
	<select id="getListMem" resultType="org.zerock.domain.MemberVO">
		<![CDATA[
		SELECT * FROM member WHERE userid > '0' ORDER BY userid
		]]>
	</select>
		
	<insert id="insertMem">	
		INSERT INTO member (userid, userpw, name, gender, phone, birth, address, email)
		VALUES (#{userid}, #{userpw}, #{name}, #{gender}, #{phone}, #{birth}, #{address}, #{email})
	</insert>
	
	<select id="getMem" resultType="org.zerock.domain.MemberVO">
		select userid, userpw, name, gender, phone, birth, address, email, auth from member where userid=#{userid}
	</select>
	
	<select id="checkId" resultType="int">
	    SELECT count(*) FROM member WHERE userid = #{userid}
	</select>
	
	<delete id="deleteMem">
		DELETE FROM member WHERE userid=#{userid}
	</delete>
	
	<delete id="deleteAdmin">
		DELETE FROM member WHERE userid=#{userid}
	</delete>
	
	<update id="updateMem">
		UPDATE member SET userpw=#{userpw}, phone=#{phone}, address=#{address}, email=#{email} WHERE userid=#{userid}
	</update>

	<update id="updateAdmin">
		UPDATE member SET auth=#{auth} WHERE userid=#{userid}
	</update>
	
	<!-- paging -->
	<select id="getListMemPaging" resultType="org.zerock.domain.MemberVO">
		<![CDATA[
		SELECT userid, name, gender, phone, birth, address, email, auth
		FROM member
		WHERE userid IN (
			SELECT userid
			FROM (
				SELECT userid
				FROM member
		]]>
		 <include refid="criteria"></include>
		<![CDATA[
				ORDER BY userid 
				LIMIT #{startRow}, #{amount}) AS temp) ORDER BY userid
		]]>
	</select>
	
	<select id="getTotalMemCount" resultType="int">
		SELECT COUNT(*) FROM member WHERE userid > 0
	</select>
	
	
	<sql id="criteria">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<foreach item='type' collection="typeArr" separator="OR">
				<!-- <trim prefix="(" suffix=") AND " prefixOverrides="OR"> <foreach 
					item='type' collection="typeArr"> <trim prefix="OR"> -->
				<choose>
					<when test="type == 'A'.toString()">
						  auth like CONCAT('%', #{keyword}, '%')
					</when>
					<when test="type == 'U'.toString()">
						  userid like CONCAT('%', #{keyword}, '%')
					</when>
					<when test="type == 'N'.toString()">
						  name like CONCAT('%', #{keyword}, '%')
					</when>
				</choose>
				<!-- </trim> -->
			</foreach>
		</trim>
		</sql>
		
</mapper>