body{
	height: auto;
	overflow-y:auto;
	/* overflow-y:hidden; */
}

div.test{	
	width: 500px;
	height: 200px;
	text-align: center;
	margin: 200px auto;
	margin-bottom: 0;
	font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

div.search{		
	align-items: center;
	width: 421.053px;
	height: 400px;
	text-align: center;
	font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";	
}

.test h1{
	color: rgb(80, 78, 78);
	margin-bottom: 20px;
}

.search h3{
	color: rgb(103, 93, 80);
	margin-top: 30px;
	margin-bottom: 20px;	
}

.test input {	
	margin-bottom: 10px;
	text-align: center;
	color: graytext;
}

.searchInput {
	margin-bottom: 10px;
	width: 250px;
	height: 40px;	
 	font-size: 0.875em;	
	color: graytext;
	text-align: center !important;
	 --bs-text-opacity: 1;
  	color: #6c757d !important;  	
  	border: 3px solid rgba(103, 93, 80, 0.5);  	
  	background-color: rgb(255, 255, 253);
}

.test .log{
	width: 100px;
	height: 30px;
	color:rgb(255, 253, 253);
	background-color: #9DC08B;
	border:rgb(255, 253, 253);
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 3px;
}

.test .log:hover{
	width: 100px;
	height: 30px;
	color:rgb(255, 253, 253);
	background-color: #609966;
	border:rgb(255, 253, 253);
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 3px;
}

.test a{
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(71, 70, 70);
    font-size: 13px;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.test .loginput {
	width: 250px;
	height: 40px;
	margin-bottom : 10px;
	color: graytext;
}

.test .mar-c-b2 {
	margin-bottom: 2em;
	align-content: center;
	align-items: center;	
}
.test .m-b100{
	margin-bottom: 100px;
}
.test .m-b50{
	margin-bottom: 50px;
}
.test .m-b30{
	margin-bottom: 30px;
}

table {
	margin: 0 auto;
	margin-top: 30px;
	font-size: 20px;
	width: 1000px;
/* 	height: 600px; */
	text-align: center;
	border: 1px solid black;
	border-top: 2px solid rgb(151, 149, 149);
}

table.size{
	font-size: 15px;
	width: 100%;
}

h5{
	position: relative;
	right: 0;
	
}